[submodule "GameEngineInTwoYears/vendor/spdlog"]
	path = GameEngineInTwoYears/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "gameengineintwoyears/vendor/GLFW"]
	path = gameengineintwoyears/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "gameengineintwoyears/vendor/ImGUI"]
	path = gameengineintwoyears/vendor/ImGUI
	url = https://github.com/TheCherno/Imgui
[submodule "gameengineintwoyears/vendor/glm"]
	path = gameengineintwoyears/vendor/glm
	url = https://github.com/g-truc/glm
