[submodule "GameEngineInTwoYears/vendor/spdlog"]
	path = GameEngineInTwoYears/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "gameengineintwoyears/vendor/GLFW"]
	path = gameengineintwoyears/vendor/GLFW
	url = https://github.com/thecherno/glfw
